html, body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #34363a;
  /*color:#D9D9D9;*/
  margin: 0px;
  padding: 0px;
  border: 0px;
  height: 100%; }

h1, h2, h3 {
  margin: 0; }

a, li, p, div, article, section, footer {
  text-decoration: none;
  color: inherit; }

a:hover {
  color: #730c1f; }

button {
  style: none; }

article {
  padding: 0 10px 10px 10px;
  font-size: 16px;
  font-style: Open Sans;
  margin: 0; }

hr {
  height: 5px;
  background-color: #000;
  border: 0;
  margin: 0; }

.navbar {
  height: 50px;
  box-shadow: 0 0 8px 0 #3b3b3b;
  position: fixed;
  background-color: #AAE0DE;
  /*background-color: #28B78D;*/
  width: 100%;
  z-index: 100; }

#home {
  width: 150px;
  margin-left: 5%;
  float: left;
  font-weight: 500; }

.navlist {
  float: right;
  margin-right: 80px;
  margin-left: 0; }

#navitems {
  font-size: 12px;
  display: inline;
  margin-right: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500; }

.navfloat {
  background-color: rgba(170, 224, 222, 0.64);
  /*background-color: rgba(74,238,22,0.75);*/ }

.intro {
  text-align: center; }

.container1 {
  background-image: url("img/pumpjack1.jpg");
  height: 550px;
  background-size: cover; }

/*temp fix for divs causing offset*/
.biopara {
  top: -30px;
  width: 400px;
  position: relative;
  text-align: center;
  font-family: "Josefin Sans", 'sans-serif';
  display: inline-block;
  left: 300px; }

.biophoto {
  display: inline-block; }

.photo {
  border-radius: 5%;
  border: 5px #bfbcc5 solid;
  position: relative;
  top: 30px;
  left: 200px; }

.container2 {
  height: 300px;
  background: #f3f3f3;
  font-family: "Josefin Sans", 'sans-serif'; }

.about {
  margin: 0 auto;
  width: 1050px;
  position: relative;
  height: 250px;
  padding-top: 50px; }
  .about div {
    width: 330px;
    float: left;
    height: 200px;
    background-color: rgba(170, 224, 222, 0.64);
    margin-left: 20px;
    box-shadow: 5px 5px 5px #888888; }
  .about p {
    padding: 0 0 0 10px;
    margin-bottom: 0; }
  .about h2 {
    padding: 10px;
    color: #730c1f; }

.container3 {
  background: url("img/diablo.jpg");
  height: 450px;
  background-size: cover; }

#arrow {
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
  position: relative;
  top: 5px;
  left: 10px; }
  #arrow :active {
    /*transform*/
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); }

.container4 {
  background: url("img/photo7.jpg") no-repeat;
  height: 400px; }

.interestpara {
  background: rgba(19, 16, 13, 0.6);
  height: auto;
  width: 350px;
  position: relative;
  overflow: auto;
  margin: 0 auto;
  top: 70px;
  cursor: hand;
  cursor: pointer; }

#careerpara {
  display: none;
  color: #09d017;
  font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace; }

/*temp fix for divs causing offset*/
#inspirationpara {
  top: 30px;
  width: 400px;
  position: relative;
  margin: 0 auto;
  text-align: center;
  font-family: "Josefin Sans", 'sans-serif';
  margin-top: -16px; }

.language {
  background: #434955 url("img/codelogo.png") no-repeat 50% 50%;
  height: 300px; }

footer {
  height: 200px;
  background: #34363a;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-top: -10px;
  color: #c6dee9; }
  footer div {
    position: relative; }
    footer div p {
      position: absolute;
      left: 300px;
      bottom: 0; }

.contact-info {
  margin-top: 10px;
  top: 20px;
  width: 200px;
  margin-left: 100px;
  text-align: left;
  position: relative; }
  .contact-info li {
    list-style: none;
    line-height: 20px;
    position: relative;
    font-size: 14px;
    font-family: "ars-maquette-web", sans-serif; }

.socialspace {
  width: 200px;
  margin: 25px 0 0 93px;
  position: relative; }
  .socialspace li {
    list-style-type: none;
    display: inline-block;
    float: left;
    border: 0;
    margin-top: 20px;
    padding: 0;
    position: relative;
    margin: 0 5px 0 5px; }
